.Details {
    width: 300px;
    margin-left: 30px;
  }
  
  .Details-container {
    border-top: 1px solid silver;
    border-left: 1px solid silver;
  }
  
  .Details-container>div {
    padding: 10px 20px;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
  }
  
  .Details-container>.Details-avatar {
    padding: 0;
  }
  
  .Details-avatar>img {
    width: 100%;
    display: block;
  }